<title>Leagues</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<link href="style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/main.css">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

</head>

<body>
    <!--Fix navbar links to link_to-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a href="/home/index" class="navbar-brand"><img id="logo" src="./app/assets/images/DD-logo.jpg"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-nav-demo">
            <ul class="nav navbar-nav">
                <li><%= link_to "About", faqs_path %></li>
                <li><%= link_to "News", blogs_path %></li>
                <li><%= link_to "Leagues", leagues_path %></li>
            </ul>
            
            <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "My Account", edit_user_registration_path, :class => 'fa fa-user' %></li>
                <!--reconnect the destroy path-->
                <li><%= link_to "Log Out", destroy_user_session_path, :class => 'fa fa-sign-out' %></li>
            </ul>
            <% else %>
            
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/users/sign_up"><i class="fa fa-user-plus" aria-hidden="true">Signup</i></a></li>
                <li><a href="/users/sign_in"><i class="fa fa-sign-in" aria-hidden="true">Login</i></a></li>
            <% end %>
            </ul>
        </div>
    </div>
</nav>

<div id="gutter"></div>
<div id="col1">
<div class="scoreboard">
    <table>
        <thead>Around the League</thead>
            <tr>
                <td>New England: 3</td>
                <td>Atlanta: 28</td>
            </tr>
                        
            <tr>
                <td>Oakland: 24</td>
                <td>Tennessee: 37</td>
            </tr>
                        
            <tr>
                <td>Green Bay: 21</td>
                <td>Detriot: 7</td>
            </tr>
    </table>
</div>
<div class="rankings">
    <table>
        <thead>Experts Top Three Overall</thead>
        <tr>
            <td>1)Bobby Boucher</td>
        </tr>
        <tr>
            <td>2)OJ Simpson</td>
        </tr>
        <tr>
             <td>3)Otherguy</td>
        </tr>
    </table>
    </div>
            <!---Scoreboard Code Here--->
            <!--Design it as a table? Integrate API afterwards
            Must have ability to sort by sport as well
            this will be on the top left side of the page-->
</div>
<div id="col2">
        <h1> MAIN CONTENT TO LOOP THROUGH ALL OF THE AVAILABLE LEAGUES</h1>
</div>

<div id="col3">
    <div class="create-league">
          <p>Interested in starting your own league?</p>
          <a class="pure-button pure-button-primary" href="#">Get Started</a>
    </div>
</div>


<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><i class="fa fa-copyright" aria-hidden="true">Copyright Draft Dynasty Inc. 2017</i></h1>
                <p>123 Main Street, Columbus, Ohio 43054</p>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Contribute</a></li>
                <li><a href="#">Advertise</a></li>
                
                <div class="sponsors">
                    <img id="cc" src="./app/assets/images/cc.jpg">
                    <img id="cc" src="./app/assets/images/paypal.jpg">
                    <img id="cc" src="./app/assets/images/statsinc.png">
                </div>
            </div>
        </div>
    </div>
</footer>
  
<script type="text/javascript" src="https://use.fontawesome.com/a6f8944a21.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>